html, body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}



.navbar {
    
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.navbar ul {
    list-style: none; /* 移除點/符號 */
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(97, 138, 109);
    font-size: 30px;
    font-weight: bold;  /* 字體粗 */
    font-family: 'Bacchus2', sans-serif;  
    margin: 20px auto 5px;
}



@font-face {
    font-family:'Bacchus2';
    src: url('font/Bacchus2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Bacchus1';
    src: url('font/Bacchus1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'impact';
    src: url('font/impact.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Inkfree';
    src: url('font/Inkfree.ttf');
    font-weight: normal;
    font-style: normal;
}


.parallax {
    
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 避免元素超出範圍 */
}
#text{
    position: absolute;
    transform: translateY(-80px);
    color: white; 
    font-size: 4vw;    /* 視窗寬度的4% */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  /* 水平/垂直/模糊半徑  */
    font-family: 'Bacchus2', sans-serif;
    
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; /* 禁用背景圖片的鼠標事件 */
}



/* 佐恩 section styles */
.ZAUN h1.section-title {
    font-size: 50px;
    text-align: center;
    font-family: 'Bacchus2', sans-serif;
    margin-top: -40px; /*ZAUN頂部跟圖片的距離*/
    color: rgb(253, 253, 253);
}

.ZAUN h2.section-title {
    font-size: 35px;
    margin-bottom: 20px ;
    text-align: center;
    font-family: 'Inkfree', sans-serif;
    margin-top: 10px;
    color: rgb(230, 230, 230);
}

.ZAUN img  {
    margin: 10px;
}


.ZAUN h2 {
    font-size: 50px;
    margin: 40px 20px 5px 30px; 
    font-family: 'impact', sans-serif;
    font-weight: 100;
    color: #ffffff; 
    letter-spacing: 2.5px; /*字體間距*/
}

.ZAUN p {
    font-size: 15px;
    color: #ffffff; 
    margin-left: 30px; 
    letter-spacing: 2px;
    line-height: 2.8; 
}
.Singed p {
    text-align: center;   
    color: #6e947d;
}

.tone-container {
    display: flex; 
    align-items: center; 
    justify-content: start; /* 讓內容從左側對齊 */
    gap: 15px; /* 文字和方塊之間的間距 */
}

.color-boxes {
    display: flex;
    margin-top: -20px;
    gap: 15px; /* 一起調整方塊之間的間距 */
}

.color-box {
    width: 20px; 
    height: 20px; 
}


/* 皮爾托福 section styles */
.PILTOVER h1 {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
    font-family: 'Bacchus2', sans-serif;
}


.PILTOVER h2 {
    font-size: 50px;
    margin: 40px 20px 5px 30px; 
    font-family: 'impact', sans-serif;
    font-weight: 100;
    color: #ffffff; 
    letter-spacing: 2.5px;
}

.PILTOVER p {
    font-size: 15px;
    color: #ffffff; 
    margin-left: 30px; 
    letter-spacing: 2px;
    line-height: 2.8;
}
.PILTOVER img  {
    margin: 10px;
}


/*輪播 */
.carousel {
    max-width: 1100px;
    max-height: 700px;
    margin: -110px auto 0; 
    overflow: hidden; 
}

.carousel-item {
    transition-duration: 1s; /* 過渡動畫時間 1s = 1 秒 */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;  /* 按鈕寬度 */
    background-color: rgba(0, 0, 0, 0.5);  
}

.carousel-control-next {
    right: -10px; 
}




.ZAUN.fade-in {
    opacity: 0; /* 一開始完全透明 */
    transform: translateY(50px); /* 初始向下偏移 */
    transition: opacity 1s ease-out, transform 1s ease-out; /* 過渡時間 1 秒 */
}

.ZAUN.fade-in.visible {
    opacity: 1; 
    transform: translateY(0); 
}
.PILTOVER.fade-in {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.PILTOVER.fade-in.visible {
    opacity: 1; 
    transform: translateY(0);
}

.SKETCH h1 {
    margin-top: -20px;
    font-size: 50px;
    text-align: center;
    font-family: 'Bacchus2', sans-serif;
}
.SKETCH img  {
    margin: 50px;
    margin-left: -10px;
    
}
.SKETCH.fade-in {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

.SKETCH.fade-in.visible {
    opacity: 1;
    transform: translateY(0); 
}